.sdg-disc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f4f4;
}

.sdg-disc__container {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #9e6e6e;
  box-shadow: 0 4px 100px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s linear; // Smooth rotation
}

.sdg-disc__inner {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s linear; // Smooth rotation
}

.sdg-disc__segment {
  position: absolute;
  width: 10px;
  height: auto;
  background: #009688;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center;
  cursor: pointer;
  transition: transform 0.3s, background 0.3s;

  &:hover {
      background: #00796b;
      transform: scale(1.1); // Slightly enlarge on hover
  }
}

.sdg-disc__image {
  width: 60px;
  height: auto;
  display: block;
}